* {
    margin: 20px 20px;
    padding: 0;
}

.banner-content {
    width: 1320px;
    height: 600px;
    background-image:url("./resources/Banner Image.png") ;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner-content-info {
    color: white;
    
}
.text {
font-size: 32px;
font-weight: 400;
padding-top:240px ;

}
.title {
    width: 632px;
    height: 190px;
    font-size: 72px;
    

}
.section-title {
    color: #F00;
text-align: center;
font-size: 88px;
font-weight: 700;
padding-top: 120px;
}
.section-text{
    color: #F00;
text-align: center;
font-size: 24px;
font-weight: 500;
padding-top: 8px;
}
.section-info {
    color: #070211;
text-align: center;
font-size: 48px;
font-weight: 700;
}
.imge {

display: flex;
align-items: center;
justify-content: center;
}

.picture {
    width: 802.9px;
height: 500px;

}
.party {
    background-image: url("./resources/Vectorrr.png");
    width: 1320px;
     height: 600px;
    margin: 0 auto;

}
.party-title {
    color: #FFF;
font-size: 64px;
font-weight: 900;
}
.party-para {
    color: rgba(255, 255, 255, 0.80);
font-size: 18px;
font-weight: 400;
}
.party-header{
    color: #FFF;
font-size: 20px;
font-weight: 700;
}
.mother-div{
    display: flex;
    justify-content: space-around;
    float: right;
    align-items: center;
}

.section {
    background-color: rgb(166, 137, 155);
    width: 1320px;
    height: 482px;
    margin: 0 auto;

}


.section-para {
    color: #070211;
font-size: 32px;
font-weight: 600;
text-align: center;
padding-top: 100px;
padding-bottom: 244px;
}
#primary {
    color: #F00;
}

.btn-class {
    color: #FFF;
font-size: 20px;
padding: 16px 32px;
border-radius: 8px;
background: #F00;
}
.offer {
    width: 1320px;
    height: 600px;
    margin: 0 auto; 
}
.offer-row {
    display: flex;
    gap: 24px;

}
.new-offer {
    color: #F00;

    font-size: 24px;
    padding-top: 75px;

}
.new-offer-come {
    color: #070211;
    font-size: 48px;

}
.new-offer-come-info {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
}
#offer-year{
    color: #F00;
font-size: 48px;
padding-top: 75px;
}
#offer-year-row{
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    
}
#offer-info-pic {
    border-radius: 463px;
    border: 15px solid #F00;
    width: 463px;
    height: 463px;
    justify-items: auto;
}
.holiday {
    width: 1320px;
    height: 750px;
    margin: 0 auto;

}
.mother-class{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.holiday-title {
    color: #070211;
    font-size: 24px;
    text-align: center;
    
}
.holiday-text {
    color: #070211;
font-size: 72px;
text-align: center;

}
.holiday-para {
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
}
.gift {
    width: 1320px;
    height: 1200px;
    margin: 0 auto;
}
.best-gift {
    color: #F00;
font-size: 24px;

}
.best-gift-portfolio {
    color: #070211;
    font-size: 48px;
}
.gift-item-title {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
}
.picture-row {
    display: flex;
    justify-content: space-between;
}
.picture-row :hover{
    transform: scale(1.1);
}
.last-class {
    width: 1320px;
     height: 616px;
     margin: 0 auto;
     border-radius: 16px;
     background-color: rgba(255, 0, 0, 0.05); 
     text-align: center;
     align-items: center;
     justify-content: center;
}
.img {
    width: 150px;
    height: 150px;
    padding-top: 75px;
    
}
.last-class-itams {
    color: #070211;
font-size: 48px;
}
.last-class-para {
    color: rgba(7, 2, 17, 0.60);
font-size: 20px;
}
#Subscribe {
    border-radius: 50px;
background: #FFF;
width: 200px;
height: 50px;
font-size: 18px;
text-align: center;
}
#btn-sub{
    border-radius: 0px 50px 50px 0px;
    background: #F00; 
    padding: 5px;
    width: 200px;
    height: 50px;
    
}

footer {
    width: 1320px;
height: 609px;
background: #070211;
margin: 0 auto;

}
.address {
    color: #FFF;
font-size: 24px;
padding-left: 140px; 
padding-top: 100px;
}
.phone-website {
    color: #FFF;
font-size: 24px;
margin: right;
}
.icon-row {
    display: flex;
    align-items: center;
}
.last-para {
    color: #FFF;
font-size: 24px;
padding-left: 140px;
padding-top: 200px;

}

.last-btn {
font-size: 24px;
}