* {
    margin: 0;
    padding: 0;
}

.banner-content {
    width: 1320px;
    height: 600px;
    background-image:url("./resources/Banner\ Image.png") ;
    margin:0 auto;

}
.banner-content-info {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}
.text {
    
text-align: center;
font-size: 32px;
font-weight: 400;
padding-top:240px ;

}
.title {
    width: 632px;
    height: 190px;
    text-align: center;
    font-size: 72px;
    

}
.section-title {
    color: #F00;
text-align: center;
font-size: 88px;
font-weight: 700;
padding-top: 120px;
}
.section-text{
    color: #F00;
text-align: center;
font-size: 24px;
font-weight: 500;
padding-top: 8px;
}
.section-info {
    color: #070211;
text-align: center;
font-size: 48px;
font-weight: 700;
}
.img{

display: flex;
align-items: center;
justify-content: center;
}

.picture {
    width: 802.9px;
height: 500px;

}
.party {
    background-image: url("./resources/Vectorrr.png");
    width: 1320px;
     height: 600px;
     margin: 0 auto;

}
.party-title {
    color: #FFF;
font-size: 64px;
font-weight: 900;
padding-left: 126px;
padding-top: 126px;
}
.party-para {
    color: rgba(255, 255, 255, 0.80);
font-size: 18px;
font-weight: 400;
padding-left: 126px;
padding-top: 24px;
}
.party-header{
    color: #FFF;
font-size: 20px;
font-weight: 700;
padding-left: 158px;
padding-top: 48px;
}
.section {
    background-color: lightpink;
    width: 1320px;
    height: 482px;
    margin: 0 auto;;

}
.section-para {
    color: #070211;
font-size: 32px;
font-weight: 600;
text-align: center;
padding-top: 100px;
padding-bottom: 244px;
}
#primary {
    color: #F00;
}
